.main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(55%);
}
.text-log{
    font-family: 'Seymour One', sans-serif;
    color: #DD5E42 !important;
    font-weight: bold;
}
.text-cert{
    color:#DD5E42    !important;
}
#carousel {
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

span {
    color: #DD5E42;
}
.card p {
    color: black;
}
.card .card-img-top .img-museo{
    object-fit: cover;
}
.img-museo{
    margin: 2px;
}
.place-time {
    background-color: #273b47;
    color:white;
}
.place-image {
    background-image: url(./images/moserrate.jpg);
    background-repeat: no-repeat;
    background-position-y: -134px;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%,#761501);
    justify-content: center;
}
#footer a, p {
    color: white;
}
#footer p {
    margin: 0;
}
.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;    
    margin: 0 10px;
    background-size: 50px 50px;
}
.social-link.twitter{
    background-image: url('images/twitter.svg');   
}
.social-link.facebook{
    background-image: url('images/facebook.svg');   
}
.social-link.instagram{
    background-image: url('images/instagram.svg');    
}
.social-link.github{
    background-image: url('images/github.svg');    
}